.hide {
    display: none;
}
.img{
    border-radius: 35%;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
.move_img{
    border-radius: 35%;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.bg-draw {
  background-color: #3f61be !important;
}

.bg-player-win {
  background-color: #70d170 !important;
}

.bg-computer-win {
  background-color: #d17777 !important;
}